header{
    height: 100px;
    background-color: var(--header-color);
}

header .logo{
    color:var(--header-text-color);
}

header ul{
    font-family: lato-bold;;
    height: 100%;
}

header a{
    color: var(--header-text-color);
    text-decoration: none;
}

header li:hover a{
    color:var(--nav-text-color-hover);
}

.btn-toggle-menu{
    background: none;
    border: none;
    cursor: pointer;
    color: wheat;
}